.main {
  background-color:black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  padding-bottom: 3rem;
  padding-left: 3rem;
  gap: 3rem;
  font-family: Arial, Helvetica, sans-serif;
}

.textHolder{
  min-width: 60%;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.header{
  color: #2dfdaa;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

}

.disabled{
  background-color: #93BFCF !important;
  pointer-events: none;
}

.textBox{
  background-color: black;
  color: white;
  height: 100%;
  width: 90%;
  font-size: x-large;
  resize: none;
  border-radius: 10px;
}

.input{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.inputField{
  background-color: black;
  border-radius: 10px;
  border: 3px solid;
  border-color: rgb(135, 135, 135);
  color: white;
  height: 30%;
  height: 30%;
  font-size: large;
}

.inspo{
  color: white;
}

.headers{
  display: flex;
  flex-direction: column;
}

.genButton{
  height: 30%;
  background-color: #2dfdaa;
  color: white;
  border-radius: 30px;
  width: 8rem;
}

.inputHint{
  color: white;
}

.genreateField{
  width: 600px;
  height: 8rem;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}


.pictureBox{
  height: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  
}

.picHolder {
  height: 600px;
  width: 600px;
  background: rgb(34,194,195);
  background: linear-gradient(350deg, rgba(34,194,195,1) 0%, rgba(45,253,170,1) 100%);
  border-radius: 10px;
  object-fit: fill;

}

.contentHolder{
  margin-top: 3rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.inspoTags{
  padding-inline: 5px;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content:flex-start;
  gap: 1rem;

}

.tag{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #93BFCF;
  width: max-content;
  height: 40px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  font-weight: bold;
  padding-inline: 1rem;
}


