.main {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem;
  min-height: 100vh;
  gap: 3rem;
}

.textHolder{
  width: 55vw;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.formBox{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.promptBox{
  width: 30vw;
  height: 40px;
  resize: none;
  font-size: large;
}

.promptSubmit{
  width: auto;
  height: 40px;
}

.textBox{
  height: 100%;
  width: inherit;
  font-size: x-large;
  resize: none;
}

.pictureBox{
  height: inherit;
  width: 100%;
  background-color:darkblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  
}

.picHolder {
  height: 400px;
  width: 400px;
  background-color: antiquewhite;

}